{% extends 'gear/base.html' %}

{% block title %} Listado de Vuelos {% endblock %}

{% block content %}
<section class="py-5">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h2 class="mb-0">Vuelos</h2>
            <a href="{% url 'vuelo-create' %}" class="btn btn-success">Crear Vuelo</a>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Disponible</th>
                    <th scope="col">Capacidad</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Acciones</th>

                </tr>
            </thead>
            <tbody>
                {% if HAWAII %}
                {% for vuelo in HAWAII %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ vuelo.nombre }}</td>
                    <td>{{ vuelo.disponible }}</td>
                    <td>{{ vuelo.capacidad }}</td>
                    <td>{{ vuelo.tipo }}</td>
                    <td>
                        <a href="{% url 'vuelo-update' vuelo.id %}" class="btn btn-primary btn-sm">Editar</a>
                        <a href="{% url 'vuelo-delete' vuelo.id %}" class="btn btn-primary btn-sm">Eliminar</a>
                        <a href="{% url 'vuelo-detail' vuelo.id %}" class="btn btn-primary btn-sm">Ver</a>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="7">No hay Vuelos.</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}